#slovo{
    color: rgb(23, 27, 17);
   font-size: 24px;
   border:3px solid lightblue;
   padding: 50px;
   width: 300px;
    display: flex;
    flex-direction: column;
}
ul{
    list-style-image: url('li-icon-r.png');
}

p{
    margin: 0;
}